<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Future Imperfect by HTML5 UP</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <link rel="stylesheet" href="~/Content/sweetalert.css" />
    <link rel="stylesheet" href="~/Content/nicemodal.css" />
    <link href="~/Content/datetimepicker4/_template.css" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- Wrapper -->
    <div id="wrapper" class="">

        <!-- Header -->
        <header id="header">
            <h1><a href="@(Url.Action("Index", "Home"))">Control Vehicular</a></h1>
            <nav class="links">
                <ul>
                    <li><a href="@(Url.Action("Index", "Empresa"))">Empresa</a></li>
                    <li><a href="@(Url.Action("Index", "Seguros"))">Seguro</a></li>
                    <li><a href="@(Url.Action("Index", "Unidad"))">Unidad</a></li>
                    <li><a href="@(Url.Action("Index", "Ruta"))">Ruta</a></li>
                    <li><a href="@(Url.Action("Cliente","PadreCliente"))">Padres</a></li>
                    
                </ul>
            </nav>
            <nav class="main">
                <ul>
                    <li class="search">
                        <a class="fa-search" href="#search">Search</a>
                        <form id="search" method="get" action="#">
                            <input type="text" name="query" placeholder="Search" />
                        </form>
                    </li>
                    <li class="menu">
                        <a class="fa-bars" href="#menu">Menu</a>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Menu -->
        <section id="menu">

            <!-- Search -->
            <section>
                <form class="search" method="get" action="#">
                    <input type="text" name="query" placeholder="Search" />
                </form>
            </section>

            <!-- Links -->
            <section>
                <ul class="links">

                    <li>
                        <a href="@(Url.Action("Index", "Empresa"))">
                            <h3>Empresa</h3>
                            <p>Agrega una empresa</p>
                        </a>
                    </li>
                    <li>
                        <a href="@(Url.Action("Index", "Seguros"))">
                            <h3>Seguro</h3>
                            <p>Agrega un seguro</p>
                        </a>
                    </li>
                    <li>
                        <a href="@(Url.Action("Index", "Unidad"))">
                            <h3>Unidad</h3>
                            <p>Agrega una unidad</p>
                        </a>
                    </li>
                    <li>
                        <a href="@(Url.Action("Index", "Ruta"))">
                            <h3>Ruta</h3>
                            <p>Agrega una ruta</p>
                        </a>
                    </li>
                </ul>
            </section>

            <!-- Actions -->
            <section>
                <ul class="actions vertical">
                    <li><a href="#" class="button big fit">Log In</a></li>
                </ul>
            </section>

        </section>

        <!-- Main -->
        
        <div id="main">
            @RenderBody()
        </div>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        @Scripts.Render("~/bundles/bootstrap")
  
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCCIL8RHRFSKIUHCaeViYANI9oe0N3gCs&callback=initMap"
                async defer></script>
        <script src="~/Scripts/Utilidades.js"></script>
        <script src="~/Scripts/sweetalert.min.js"></script>
        <script src="~/Scripts/date.js"></script>
</body>
</html>