@model ConductorModelo
@using ControlVehicular.Models

@{
    ViewBag.Title = "Conductor";
}
@section  Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/Conductor/ScriptConductor.js")"></script>
}
<link rel="stylesheet" href="~/Content/Conductor.css" />
<h2>Conductores</h2>
<h5><strong>Empresa Codigo:</strong> <span class="text-muted" id="EmpresaId">@ViewBag.Empresa.Codigo</span></h5>

<div id="toolbar">
    <button type="button" class="btn btn-info" onclick="AbrilModalAgregarConductor();">Agregar Conductor</button>
</div>
<br />

<table id="TablaConductores"
       class="sortable table-bordered"
       data-toolbar="#toolbar"
       data-search="true"
       data-pagination="true"
       data-minimum-count-columns="2"
       data-id-field="Codigo"
       data-unique-id="Codigo"
       data-page-size="8"
       data-show-footer="false">
    <thead>
        <tr>
            <th data-field="Nombre" data-sortable="true">Nombre</th>
            <th data-field="TipoLicencia" data-sortable="true">Tipo Licencia</th>
            <th data-field="FechaVencimiento" data-sortable="true" data-formatter="formatDate">Fecha Vencimiento</th>
            <th data-field="URLFotografiaCedula">Fotografia Cédula </th>
            <th data-field="URLFotografiaLicencia">Fotografia Licencia</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@Html.Partial("Modal_Images_Conductor")

<!-- Modal -->
<div id="modalAgregarConductor" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->

       
        @using (Ajax.BeginForm("Guardar", "Conductor", null, new AjaxOptions() { OnSuccess = "guardarConductorResultado" }, new { enctype = "multipart/form-data", id = "formAgregarConductor" }))

        {
            @Html.Hidden("Empresa") // Para el codigo de la empresa que ocupa el Conductor
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Agregar conductor</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group col-md-12">
                        <span class="input-group-addon" id="basic-addon1">
                            @Html.LabelFor(model => model.Nombre)
                        </span>
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">
                            @Html.LabelFor(model => model.TipoLicencia)
                        </span>
                        @Html.EditorFor(model => model.TipoLicencia, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TipoLicencia, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">
                            @Html.LabelFor(model => model.FechaVencimiento)
                        </span>
                        @Html.EditorFor(model => model.FechaVencimiento, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FechaVencimiento, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group col-md-4">
                            <div>
                                @Html.LabelFor(m => m.FileCedulaImg, new { @class = "" })
                                @Html.TextBoxFor(m => m.FileCedulaImg, new { type = "file", name = "files" })
                                @Html.ValidationMessageFor(m => m.FileCedulaImg)
                            </div>
                            <div class="wrapper">
                                <div class="imageSelector">
                                    <img id="imagenPreviewCedula"  class="imageSelected imgs"  alt=""  width="100%" height="100%" />
                                    <span class="editImage" onclick="triggerUpload(event, '#formAgregarConductor #FileCedulaImg');"><i class="fa fa-pencil"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div>
                                @Html.LabelFor(m => m.FileLicenciaImg, new { @class = "" })
                                @Html.TextBoxFor(m => m.FileLicenciaImg, new { type = "file", name = "files" })
                                @Html.ValidationMessageFor(m => m.FileLicenciaImg)
                            </div>
                            <div class="wrapper">
                                <div class="imageSelector">
                                    <img id="imagenPreviewLicencia"  class="imageSelected imgs" alt=""  width="100%" height="100%" />
                                    <span class="editImage" onclick="triggerUpload(event, '#formAgregarConductor #FileLicenciaImg');"><i class="fa fa-pencil"></i></span>
                                </div>
                            </div>
                        </div>
                        </div>
                    <div class="modal-footer">
                        <button type="button" onclick="guardarConductor()" class="btn btn-info"><i class="fa fa-plus"></i> Agregar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<!-- Modal -->
<div id="modalEditarConductor" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->

@using (Ajax.BeginForm("Editar", "Conductor", null, new AjaxOptions() { OnSuccess = "editarConductorResultado" }, new { enctype = "multipart/form-data", id = "formEditarConductor" }))
            {
            @Html.Hidden("Empresa") // Para el codigo de la empresa que ocupa el Conductor
                                    @Html.Hidden("Codigo") // Para el codigo del Conductor
                                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                <h4 class="modal-title">Editar conductor</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="input-group col-md-12">
                                                                    <span class="input-group-addon" id="basic-addon1">
                                                                        @Html.LabelFor(model => model.Nombre)
                                                                    </span>
                                                                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                                                </div>
                                                                <br />
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" id="basic-addon1">
                                                                        @Html.LabelFor(model => model.TipoLicencia)
                                                                    </span>
                                                                    @Html.EditorFor(model => model.TipoLicencia, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.TipoLicencia, "", new { @class = "text-danger" })
                                                                </div>
                                                                <br />
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" id="basic-addon1">
                                                                        @Html.LabelFor(model => model.FechaVencimiento)
                                                                    </span>
                                                                    @Html.EditorFor(model => model.FechaVencimiento, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.FechaVencimiento, "", new { @class = "text-danger" })
                                                                </div>
                                                                <br />
                                                                <div class="row">
                                                                    <div class="form-group col-md-4">
                                                                        <div>
                                                                            @Html.LabelFor(m => m.FileCedulaImgEditar, new { @class = "" })
                                                                            @Html.TextBoxFor(m => m.FileCedulaImgEditar, new { type = "file", name = "files" })
                                                                            @Html.ValidationMessageFor(m => m.FileCedulaImgEditar)
                                                                        </div>
                                                                        <div class="wrapper">
                                                                            <div class="imageSelector">
                                                                                <img id="imagenPreviewCedulaEditar"  class="imgs" alt="Cédula"  width="100%" height="100%" />
                                                                                <span class="editImage" onclick="triggerUpload(event, '#formEditarConductor #FileCedulaImgEditar');"><i class="fa fa-pencil"></i></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group col-md-4">
                                                                        <div>
                                                                            @Html.LabelFor(m => m.FileLicenciaImgEditar, new { @class = "" })
                                                                            @Html.TextBoxFor(m => m.FileLicenciaImgEditar, new { type = "file", name = "files" })
                                                                            @Html.ValidationMessageFor(m => m.FileLicenciaImgEditar)
                                                                        </div>
                                                                        <div class="wrapper">
                                                                            <div class="imageSelector">
                                                                              
                                                                                <img id="imagenPreviewLicenciaEditar"  class="imgs" alt="Licencia"  width="100%" height="100%" />
                                                                                <span class="editImage" onclick="triggerUpload(event, '#formEditarConductor #FileLicenciaImgEditar');"><i class="fa fa-pencil"></i></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" onclick="guardarEditarConductor()" class="btn-info"><i class="fa fa-plus"></i> Guardar</button>
                                                                <button type="button" onclick="borrarConductor()" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar</button>
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                                            </div>
                                                        </div>
        }
    </div>
</div>