@model ControlVehicular.Models.ClienteHijoModelo
@using ControlVehicular.Models

@{
    ViewBag.Title = "Hijos";

}
@section  Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/Cliente/ClienteHijoScript.js")"></script>
}

<h2>Hijos Cliente</h2>
<h5><strong>Padre Codigo:</strong> <span class="text-muted" id="padreId">@ViewBag.Padre.Codigo</span></h5>

<div id="toolbar">
    <button type="button" class="btn btn-info" onclick="AbrirModalAgregarHijo();">Agregar Hijo</button>
</div>
<br />

<table id="TablaHijos"
       class="sortable table-bordered"
       data-toolbar="#toolbar"
       data-search="true"
       data-pagination="true"
       data-minimum-count-columns="2"
       data-id-field="Codigo"
       data-unique-id="Codigo"
       data-page-size="8"
       data-show-footer="false">
    <thead>
        <tr>
            <th data-field="Nombre" data-sortable="true">Nombre</th>
            <th data-field="MostrarComo" data-sortable="true">Mostar Como</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<!-- Modal -->
<div id="modalAgregarHijo" class="modal fadeInUp transitionIn niceModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        @using (Html.BeginForm("", "", FormMethod.Post, new { id = "formAgregarHijo" }))
            {
            @Html.Hidden("PadreCliente") // Para el codigo de la empresa que ocupa el Conductor
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="modal-content">
                                        <div class="modal-header transitionIn ">
                                            <i class="niceModal-header-icon fa fa-plus"></i>
                                            <h2 class="niceModal-header-title">Agregar Hijo Cliente</h2>
                                            <p class="niceModal-header-subtitle">Digite la informacion del hijo que desea agregar</p>
                                            <a href="javascript:void(0)" class="niceModal-button niceModal-button-close" data-dismiss="modal"></a>
                                        </div>
                                        <div class="modal-body">
                                            <div class="niceModal-content">
                                                <div class="input-group col-md-12">
                                                    <span class="input-group-addon" id="basic-addon1">
                                                        @Html.LabelFor(model => model.Nombre)
                                                    </span>
                                                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                                </div>
                                                <br />
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="basic-addon1">
                                                        @Html.LabelFor(model => model.MostrarComo)
                                                    </span>
                                                    @Html.EditorFor(model => model.MostrarComo, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.MostrarComo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        <div class="modal-footer">
                                            <button type="button" onclick="guardarHijo()" class="btn btn-outline-info"><i class="fa fa-plus"></i> Agregar</button>
                                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
                                        </div>
                                    </div>
                           </div>
        }
    </div>
</div>

<!-- Modal -->
<div id="modalEditarHijo" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        @using (Html.BeginForm("", "", FormMethod.Post, new { id = "formEditarHijo" }))
            {
            @Html.Hidden("PadreCliente") // Para el codigo de la empresa que ocupa el Conductor
                                    @Html.Hidden("Codigo") // Para el codigo del Conductor
                                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                <h4 class="modal-title">Editar conductor</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="input-group col-md-12">
                                                                    <span class="input-group-addon" id="basic-addon1">
                                                                        @Html.LabelFor(model => model.Nombre)
                                                                    </span>
                                                                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                                                </div>
                                                                <br />
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" id="basic-addon1">
                                                                        @Html.LabelFor(model => model.MostrarComo)
                                                                    </span>
                                                                    @Html.EditorFor(model => model.MostrarComo, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.MostrarComo, "", new { @class = "text-danger" })
                                                                </div>
                                                                <br />
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" onclick="guardarEditarHijo()" class="btn-info"><i class="fa fa-plus"></i> Guardar</button>
                                                                <button type="button" onclick="borrarCliente()" class="btn-danger"><i class="fa fa-trash"></i> Eliminar</button>
                                                                <button type="button" class="btn-default" data-dismiss="modal">Cancelar</button>
                                                            </div>
                                                        </div>
        }
    </div>
</div>


